<nav class="actions">
    <div class="block">
        <ul>
            <li ng-repeat="character in game.characters.getTeam()" ng-click="character.select()"
                ng-class="{current: character.name === game.characters.selected.name}">
                {{character.name}}
            </li>
        </ul>
    </div>
</nav>

<div class="c1">

    <img ng-src="{{game.characters.selected.image}}" width="80" alt="current_character" style="float: left"/>

    <div class="main">
        <p>
            Weapon equipped: <br/>{{game.characters.selected.weapon().name}}
        </p>

        <p>
            Power: <br/>{{game.characters.selected.weapon().hits}}
        </p>

        <p>
            Materia: <br/>+{{game.characters.selected.weapon().maxMaterias}}
        </p>
    </div>

</div>

<div class="c3">
    <div ng-if="game.characters.selected.getOthersWeapons().length !== 0">
        <table style="width: 100%">
            <tr>
                <th>Nom</th>
                <th></th>
            </tr>
            <tr ng-repeat="weapon in game.characters.selected.getOthersWeapons()" class="weapon">
                <td>{{weapon.name}}</td>
                <td><span ng-click="weapon.equip()" class="button">EQUIP</span></td>
            </tr>
        </table>
    </div>

    <div class="no-data" ng-if="game.characters.selected.getOthersWeapons().length === 0">
        NO OTHERS WEAPONS
    </div>
</div>