<nav class="actions">
    <ul>
        <li ng-click="explore($event)" class="button big" ng-class="{disabled: game.mode != 'normal'}">EXPLORE</li>

        <li ng-click="escape($event)" class="button big" ng-class="{disabled: !game.characters.canEscape()}">
            ESCAPE
        </li>

        <li ng-click="attack($event)" class="button big"
            ng-class="{disabled: !game.characters.canAttack(), limit: game.characters.canLimit()}">
            <span ng-if="!game.characters.canLimit()">ATTACK</span>
            <span ng-if="game.characters.canLimit()">LIMIT</span>
        </li>

        <li ng-repeat="materia in game.materias" ng-click="materia.action()">
            {{materia.name}}
        </li>
    </ul>
</nav>

<div class="wrapper">

    <div class="c1">
        <!-- characters bars -->
        <div class="bars">
            <div class="bar_pwr">{{game.characters.getHits()|round:2}}</div>

            <div>
                <div class="part progress characters_hp">
                    <div class="characters_hp_progress" style="width:{{game.characters.hpProgress(300)}}px;"></div>
                    <span class="bar-label">{{game.characters.hp|ceil}} / {{game.characters.hpMax}} HP</span>
                </div>
            </div>

            <div>
                <div class="part progress characters_mp">
                    <div class="characters_mp_progress" style="width:{{game.characters.mpProgress(300)}}px;"></div>
                    <span class="bar-label">{{game.characters.mp|ceil}} / {{game.characters.mpMax}} MP</span>
                </div>
            </div>

            <div>
                <div class="part progress characters_limit">
                    <div class="characters_limit_progress" style="width:{{game.characters.limitProgress(300)}}px;"></div>
                    <span class="bar-label">LIMIT</span>
                </div>
            </div>
        </div>

        <!-- characters list -->
        <div ng-repeat="(i, character) in game.characters.team" class="card">
            <div class="xp_progress" style="width:{{character.xpProgress(300)}}px;"></div>
            <div class="main">
                <div class="part avatar w50">
                    <img ng-src="{{character.image}}" alt="avatar" class="icon"/>
                </div>
                <!--
                        -->
                <div class="part w350">
                    <div>{{character.name}} <strong>(LVL{{character.level}})</strong></div>
                    <div ng-if="character.level > 0">
                        <span class="label">hp</span> {{character.getHpMax()}}
                        <span class="label">mp</span> {{character.getMpMax()}}
                        <span class="label">pwr</span> {{character.getHits()|round:2}}
                    </div>
                    <div class="line">"{{character.getLine()}}"</div>
                </div>
            </div>
        </div>
    </div>

    <div class="c3">
        <!-- enemies bars -->
        <div class="bars">
            <div ng-if="game.enemies.getTeam().length > 0" class="bar_pwr">{{game.enemies.hits|round:2}}</div>

            <div ng-if="game.enemies.getTeam().length > 0">
                <div class="part progress enemy_hp w300">
                    <div class="enemy_hp_progress" style="width:{{game.enemies.hpProgress(300)}}px;"></div>
                    <span class="bar-label">{{game.enemies.hp|ceil}} / {{game.enemies.hpMax}} HP</span>
                </div>
            </div>

            <div ng-if="game.enemies.getTeam().length > 0">
                <div class="part progress enemy_mp w300">
                    <div class="enemy_mp_progress" style="width:{{game.enemies.mpProgress(300)}}px;"></div>
                    <span class="bar-label">{{game.enemies.mp|ceil}} / {{game.enemies.mpMax}} HP</span>
                </div>
            </div>
        </div>

        <div ng-if="game.enemies.getTeam().length === 0" class="no-enemies">
            NO ENEMIES
        </div>

        <!-- enemies list -->
        <div ng-repeat="enemy in game.enemies.getTeam()" class="card">
            <div class="main">
                <div class="part avatar w50">
                    <img ng-src="img/enemies/{{game.zones.level}}/{{enemy.image}}" alt="avatar" height="48"/>
                </div>
                <div class="part w300">
                    {{enemy.name}} <strong>(LVL{{enemy.level|ceil}})</strong>
                    <span ng-if="enemy.boss" class="boss">ZONE BOSS</span>
                    <span ng-if="enemy.miboss" class="boss">BOSS</span>

                    <div>
                        <span class="label">hp</span> {{enemy.getHpMax()}}
                        <span class="label">pwr</span> {{enemy.getHits()}}
                    </div>
                    <div>
                        <span class="label">xp</span> {{enemy.xpReward()}}
                        <span class="label">ap</span> {{enemy.apReward()}}
                        <span class="label">gils</span> {{enemy.gilsReward()}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>