<nav class="actions">
    <ul>
        <li ng-click="explore($event)" ng-class="{disabled: game.battle.isBattle}">EXPLORE</li>

        <li ng-click="escape($event)" ng-class="{disabled: !game.battle.isBattle}">
            ESCAPE
        </li>

        <li ng-click="attack($event)"
            ng-class="{disabled: !game.characters.canAttack(), limit: game.characters.canLimit()}">
            <span ng-if="!game.characters.canLimit()">ATTACK</span>
            <span ng-if="game.characters.canLimit()">LIMIT</span>
        </li>

        <li ng-repeat="materia in game.materias.getEquipped()"
            ng-click="materia.action()"
            ng-class="{disabled: !materia.canUse()}">
            <div class="pull-right">{{materia.mpCost}}</div>
            {{materia.name}}
        </li>
    </ul>
</nav>

<div class="wrapper">

    <div class="c1">
        <!-- characters bars -->
        <div class="bars">
            <div class="enemies_hits">
                <div class="hit hit_{{$index+1}}" ng-repeat="hit in game.enemies.arrHits track by $index">{{hit}}</div>
            </div>

            <div>
                <div class="progress characters_hp">
                    <div class="characters_hp_progress" style="width:{{game.characters.hpProgress(300)}}px;"></div>
                    <span class="bar-label">{{game.characters.hp}} / {{game.characters.hpMax}} HP</span>
                </div>
            </div>

            <div>
                <div class="progress characters_mp">
                    <div class="characters_mp_progress" style="width:{{game.characters.mpProgress(300)}}px;"></div>
                    <span class="bar-label">{{game.characters.mp}} / {{game.characters.mpMax}} MP</span>
                </div>
            </div>

            <div>
                <div class="progress characters_limit">
                    <div class="characters_limit_progress"
                         style="width:{{game.characters.limitProgress(300)}}px;"></div>
                    <span class="bar-label">LIMIT</span>
                </div>
            </div>
        </div>

        <!-- characters list -->
        <div ng-repeat="(i, character) in game.characters.getTeam()" class="card">
            <div class="progress characters_xp">
                <div class="xp_progress" style="width:{{character.xpProgress(300)}}px;"></div>
                <span class="bar-label">{{character.xp}} / {{character.getXpMax()}} EXP</span>
            </div>
            <div class="main">
                <div class="avatar">
                    <img ng-src="{{character.image}}" alt="avatar" class="icon"/>
                </div>
                <!--
                        -->
                <div>
                    <div>{{character.name}} <strong>(LVL{{character.level}})</strong></div>
                    <div ng-if="character.level > 0">
                        <span class="label">hp</span> {{character.getHpMax()}}
                        <span class="label">mp</span> {{character.getMpMax()}}
                        <span class="label">pwr</span> {{character.getHits()}}
                    </div>
                    <div class="line">"{{character.getLine()}}"</div>
                </div>
            </div>
        </div>
    </div>

    <div class="c3">
        <!-- enemies bars -->
        <div class="bars">
            <div class="characters_hits">
                <div class="hit hit_{{$index+1}}" ng-repeat="hit in game.characters.arrHits track by $index">{{hit}}
                </div>
            </div>

            <div ng-if="game.enemies.list.length > 0">
                <div class="progress enemy_hp">
                    <div class="enemy_hp_progress" style="width:{{game.enemies.hpProgress(300)}}px;"></div>
                    <span class="bar-label">{{game.enemies.hp}} / {{game.enemies.hpMax}} HP</span>
                </div>
            </div>
        </div>

        <div ng-if="game.enemies.list.length === 0" class="no-enemies">
            NO ENEMIES
        </div>

        <!-- enemies list -->
        <div ng-repeat="enemy in game.enemies.list" class="card">
            <div class="main">
                <div class="avatar">
                    <img ng-src="{{enemy.image}}" alt="avatar" height="48"/>
                </div>
                <div>
                    {{enemy.name}} <strong>(LVL{{enemy.level}})</strong>
                    <span ng-if="enemy.boss" class="boss">ZONE BOSS</span>
                    <span ng-if="enemy.miboss" class="boss">BOSS</span>

                    <div>
                        <span class="label">hp</span> {{enemy.getHpMax()}}
                        <span class="label">pwr</span> {{enemy.getHits()}}
                    </div>
                    <div>
                        <span class="label">xp</span> {{enemy.xpReward()}}
                        <span class="label">ap</span> {{enemy.apReward()}}
                        <span class="label">gils</span> {{enemy.gilsReward()}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>