<div class="c1">

    <div>Items equipped: {{game.items.getEquipped().length}}/{{game.items.MAX_ITEMS}}</div>

    <div ng-repeat="item in game.items.getEquipped()" class="item">
        <div ng-click="item.unequip()" class="pull-right">UNEQUIP</div>
        {{item.name}} ({{item.number}})
    </div>

</div>

<div class="c3">
    <div>Other items:</div>

    <div ng-repeat="item in game.items.getUnequipped()" class="item">
        <div ng-show="item.canEquip()" ng-click="item.equip()" class="pull-right">EQUIP</div>
        {{item.name}} ({{item.number}})
    </div>
</div>