<nav class="actions">
    <div class="block">
        <ul>
            <li ng-repeat="zone in game.zones.list" ng-class="{current: game.zones.level === zone.level}"
                ng-click="game.zones.goZone(zone.level)">
                Zone {{zone.level}}
            </li>
        </ul>
    </div>
</nav>

<div class="c1">

    <img ng-src="{{game.zones.current().image}}" width="80" alt="current_zone" style="float: left"/>

    <div class="main">
        <p class="name">
            {{"Zone "+game.zones.current().level+" name"|translate}} <strong>(#{{game.zones.current().level}})</strong>
        </p>

        <p class="desc">{{'Zone '+game.zones.current().level+' desc'|translate}}</p>
    </div>

</div>

<div class="c3">

    <div class="no-data" ng-if="!game.zones.current().completed">
        {{"Not completed"|translate}}
    </div>

    <div class="no-data" ng-if="game.zones.current().completed">
        <div>{{"Completed"|translate}}</div>
        <div ng-show="game.zones.isNextZone()" ng-click="game.zones.goNextZone()" class="button">
            {{"Go next zone"|translate}}
        </div>
    </div>
</div>