<div class="shopList">

  <div class="zones">
    <div ng-repeat="zone in game.zones.list | clean" class="line">
      <div class="name">
        #{{zone.level}} {{zone.name}} <span class="boss" ng-if="zone.completed">COMPLETED</span><br />
        <span class="desc">{{zone.description}}</span>
      </div>
      <div class="actions_">
        <div class="button" ng-click="goZone($event, zone)" ng-if="!zone.here()">GO</div>
        <div ng-if="zone.here()">You are here</div>
      </div>
    </div>
  </div>

</div>