<nav class="actions">
    <div class="block">
        <ul>
            <li ng-repeat="zone in game.zones.list" ng-class="{current: game.zones.level === zone.level}"
                ng-click="game.zones.setSelected(zone)">
                {{'Zone '+zone.number+' name'|translate}}
            </li>
        </ul>
    </div>
</nav>

<div class="c1">

    <img ng-src="{{game.zones.selected.image}}" width="80" alt="current_zone" style="float: left"/>

    <div class="main">
        <p>
            {{"Zone "+game.zones.selected.number+" name"|translate}} <strong>(#{{game.zones.current.number}})</strong>
        </p>

        <p>{{'Zone '+game.zones.selected.number+' desc'|translate}}</p>
    </div>

</div><!--

--><div class="c3"></div>