<nav class="actions">
    <ul>
        <li ng-repeat="character in game.characters.getTeam()" ng-click="character.select()" ng-class="{current: character.name === game.characters.selected.name}">
            {{character.name}}
        </li>
    </ul>
</nav>

<div class="c1">

    <div>Weapon equipped: {{game.characters.selected.weapon().name}}</div>

</div>

<div class="c3">
    <div>Other weapons:</div>

    <div ng-repeat="weapon in game.characters.selected.getOthersWeapons()" class="weapon">
        <div ng-click="weapon.equip()" class="pull-right">EQUIP</div>
        {{weapon.name}}
    </div>
</div>